@charset "UTF-8";

header {
	background-color: #ffffff;
	height: 95px;
	width: 100%;
	background-image: url(imagens/topo_principal1.png);
	background-repeat: repeat;
	background-position:top center;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

nav#menu_desktop {
	display:none;	
}

nav#menu_mobile {
	display:block;
	clear:both;
	background-color: #5fdaff;
	width: 100%;
}
nav#menu_mobile ul {
	width: 100%;
	margin:0 auto;
	padding: 4px;
	list-style-type: none;
}
nav#menu_mobile ul li {
	width:100%;
}
nav#menu_mobile ul li a {
	display:block;
	font-style: bold;
	font-size: 0.9em;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 4px 20px;
	font-family: "Roboto", sans-serif;
	text-align:center;
}
nav ul li a:hover {
	background-color: #cacaca;
}

#principal {
	margin: 5px auto 20px;
	width: 100%;
}
article {
	margin: 30px 20px;
	float: left;
	width: 90%;
}
aside {
	display:none;
}
footer {
	clear:both;
	background-image: url(imagens/rodape3.png);
	background-repeat: no-repeat;
	margin: 0px auto;
	height: 100px;
	width: 100%;
}

section {
	margin-bottom: 15px;
}
